{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Display article-->
                <div class="post-preview">
                    <!-- Title -->
                    <h2 class="post-title" id="article-title">
                        {{ article.title }}
                    </h2>
                    <!-- Author and Publish Date -->
                    <p class="post-meta" style=' text-align: center;'>Posted by {{ article.author }} on {{ article.getPublishDateString }}</p>
                    <!-- Preview Image -->
                    <img  style='height: 100%; width: 100%; object-fit: contain' class="img-responsive" src="{{ article.urlToImage }}" alt="">

                    <!-- Post Content -->
                    <p>{{ article.description|nl2br|nl2br }}</p>

                    <p> <i> This article originally appeared on</i>
                        <a href={{ article.url }}>
                            Astronomy Now.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy;SkyAboveUs</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
