{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a href="{{ path('homepage') }}">
                        <img class="logo" src="{{ asset('img/logo/sky_above_us_with_white_text.png') }}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <!-- Features categories -->
                    <div class="features-categories">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('news_list', {number: 1}) }}">NEWS</a>
                            </li>
                            <li>
                                <a href="{{ path('astronomy_picture', {picture: 0}) }}">APOD</a>
                            </li>
                            <li>
                                <a href="{{ path('viewing_all_videos', {currentPage: 1}) }}">VIDEOS</a>
                            </li>
                            <li>
                                <a href="{{ path('view_all_planets') }}">PLANETS</a>
                            </li>
                            <li>
                                <a href="{{ path('view_events') }}">Events</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Planets news categories -->
                    <div class="planets-categories">
                        <ul class="nav navbar-nav">
                            {% for planet in planetsList %}
                                <li>
                                    <a href="{{ path('planet_articles', {'planet': planet.name, 'number': 1}) }}">{{ planet.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.container -->
        </nav>

    {% endblock %}

    <div class="news-header">
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>News</h1>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Display article-->
                <div class="post-preview">
                    <!-- Title -->
                    <h2 class="post-title" id="article-title">
                        {{ article.title }}
                    </h2>
                    <!-- Author and Publish Date -->
                    <p class="post-meta" style=' text-align: center;'>Posted by {{ article.author }} on {{ article.getPublishDateString }}</p>
                    <!-- Preview Image -->
                    <img  style='height: 100%; width: 100%; object-fit: contain' class="img-responsive" src="{{ article.urlToImage }}" alt="">

                    <!-- Post Content -->
                    <p>{{ article.description|nl2br|nl2br }}</p>

                    <p> <i> This article originally appeared on</i>
                        <a href={{ article.url }}>
                            Astronomy Now.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy;SkyAboveUs</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}