<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sky above us{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')  }}" rel="stylesheet" >
            <link href="{{ asset('css/creative.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/clean-blog.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
            <link href="{{ asset('css/news.css') }}" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <link href="{{ asset('css/apod.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <!-- Custom Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
{% endblock %}
<body>
{% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a href="{{ path('homepage') }}">
                    <img class="logo" src="{{ asset('img/logo/sky_above_us.png') }}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Features categories -->
                <div class="features-categories">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('news_list', {number: 1}) }}">NEWS</a>
                        </li>
                        <li>
                            <a href="{{ path('astronomy_picture', {picture: 0}) }}">APOD</a>
                        </li>
                        <li>
                            <a href="{{ path('viewing_all_videos', {currentPage: 1}) }}">VIDEOS</a>
                        </li>
                        <li>
                            <a href="{{ path('space_station') }}">ISS</a>
                        </li>
                        <li>
                            <a href="{{ path('view_all_planets') }}">PLANETS</a>
                        </li>
                        <li>
                            <a href="{{ path('view_events') }}">Events</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </nav>

    <div class="news-header">
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>{{ page | upper }}</h1>
                            <hr class="small">
                            <div class=" news-planets">
                                <ul class="nav navbar-nav">
                                    {% for filter in filters %}
                                        <li>
                                            <a href="{{ path('planet_articles', {planet: filter.name, number:1}) }}">{{ filter.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ asset('js/clean-blog.min.js') }}"></script>
{% endblock %}
</body>
</html>
