{% extends 'newsFeed/base_news.html.twig' %}

{% block body %}

    <!-- Main Content -->
    <div class="container">
        <a href="#start" id="open" class="open btn">
            <img src="{{ asset('img/web-img/arrow_up.png') }}">
        </a>
        <div id="start" class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Display articles from 0..9, 10..19, 20..29 and so on -->
                {% for i in ((pageNumber-1)*10)..(pageNumber*10-1) %}
                    {% if (articles[i] is defined) %}
                        <div class="post-preview col-md-12">
                            <!-- Title -->
                            <a id="article-title" href="{{ path('show_article', {'id': articles[i].id}) }}">
                                <h2 class="post-title">
                                    {{ articles[i].title }}
                                </h2>
                            </a>
                            <!-- Author and Publish Date -->
                            <p class="post-meta" style=' text-align: center;'>Posted by {{ articles[i].author }} on {{ articles[i].getPublishDateString }}</p>
                            <!-- Preview Image -->
                            <a class="col-md-6" href="{{ path('show_article', {'id': articles[i].id}) }}">
                                <img class="img-responsive" src="{{ articles[i].urlToImage }}" alt="">
                            </a>
                            <p class="col-md-6">
                                {{ articles[i].description|slice(0, 300) }}...
                            </p>
                        </div>

                        <hr>
                    {% endif %}
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    {# if news page number is not 1 then display button to newer articles #}
                    {% if pageNumber != 1  %}
                        <li class="previous">
                            <a href="{{ path('news_list', {number: pageNumber-1}) }}">&larr; Newer Articles</a>
                        </li>
                    {% endif %}
                    {# if there are more articles comparing current page then display button to older articles #}
                    {% if articles[pageNumber*10] is defined  %}
                        <li class="next">
                            <a href="{{ path('news_list', {number: pageNumber+1}) }}">Older Articles &rarr;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy;SkyAboveUs</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
