{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <img class="logo" src="{{ asset('img/img/sky_above_us.png') }}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('news_list') }}">NEWS</a>
                        </li>
                        <li>
                            <a href="{{ path('astronomy_picture', {picture: 0}) }}">APOD</a>
                        </li>
                        <li>
                            <a href="{{ path('viewing_all_videos', {currentPage: 1}) }}">VIDEOS</a>
                        </li>
                        <li>
                            <a href="{{ path('view_all_planets') }}">PLANETS</a>
                        </li>
                        <li>
                            <a href="{{ path('view_events') }}">Events</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

    {% endblock %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>News</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% for article in articles %}

                    <div class="post-preview">
                        <!-- Title -->
                        <a id="article-title" href="{{ path('show_article', {'id': article.id}) }}">
                            <h2 class="post-title">
                                {{ article.title }}
                            </h2>
                        </a>
                        <!-- Author and Publish Date -->
                        <p class="post-meta">Posted by {{ article.author }} on {{ article.getPublishDateString }}</p>
                        <!-- Preview Image -->
                        <a href="{{ path('show_article', {'id': article.id}) }}">
                            <img class="img-responsive" src="{{ article.urlToImage }}" alt="">
                        </a>
                    </div>

                    <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Articles &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy;SkyAboveUs</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Planet news categories -->
    {# <div class="col-md-4">

        <div class="well">
            <h4>Categories</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        {% for planet in planetsList %}
                        <li><a href="{{ path('planet_articles', {'planet': planet.name}) }}" class="portfolio-box">{{ planet.name }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>

    </div> #}




{% endblock %}
