{% extends 'base.html.twig' %}

{% block body %}

    <div class="container feature-page">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <header id="article-header" class="page-header">
                    <h1 class="page-title">News</h1>
                </header>

                {% for article in articles %}

                    <!-- Title -->
                    <a id="article-title" href="{{ path('show_article', {'id': article.id}) }}">
                        <h1 id="article-title">{{ article.title }}</h1>
                    </a>

                    <!-- Author and Publish Date -->
                    <h6> Author: {{ article.author }} | Published: {{ article.getPublishDateString }} </h6>

                    <!-- Preview Image -->
                    <a href="{{ path('show_article', {'id': article.id}) }}">
                        <img class="img-responsive" src="{{ article.urlToImage }}" alt="">
                    </a>

                    <hr>

                {% endfor %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well sideSearch">
                    <h4>Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for planet in planetsList %}
                                <li><a href="{{ path('planet_articles', {'planet': planet.name}) }}" class="portfolio-box">{{ planet.name }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy;SkyAboveUs</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
{% endblock %}
