{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a href="{{ path('homepage') }}">
                        <img class="logo" src="{{ asset('img/logo/sky_above_us.png') }}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <!-- Features categories -->
                    <div class="features-categories">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('news_list', {number: 1}) }}">NEWS</a>
                            </li>
                            <li>
                                <a href="{{ path('astronomy_picture', {picture: 0}) }}">APOD</a>
                            </li>
                            <li>
                                <a href="{{ path('viewing_all_videos', {currentPage: 1}) }}">VIDEOS</a>
                            </li>
                            <li>
                                <a href="{{ path('view_all_planets') }}">PLANETS</a>
                            </li>
                            <li>
                                <a href="{{ path('view_events') }}">Events</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container -->
        </nav>

    {% endblock %}

    <div class="news-header">
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>{{ planet }} news</h1>
                            <hr class="small">
                            <div class=" news-planets">
                                <ul class="nav navbar-nav">
                                    {% for planet in planetsList %}
                                        <li>
                                            <a href="{{ path('planet_articles', {'planet': planet.name, 'number': 1}) }}">{{ planet.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Display planet articles from 0..9, 10..19, 20..29 and so on -->
                {% for i in ((pageNumber-1)*10)..(pageNumber*10-1) %}
                    {% if (planetArticles[i] is defined) %}
                        <div class="post-preview col-md-12">
                            <!-- Title -->
                            <a id="article-title" href="{{ path('show_article', {'id': planetArticles[i].id}) }}">
                                <h2 class="post-title">
                                    {{ planetArticles[i].title }}
                                </h2>
                            </a>
                            <!-- Author and Publish Date -->
                            <p class="post-meta" style=' text-align: center;'>Posted by {{ planetArticles[i].author }} on {{ planetArticles[i].getPublishDateString }}</p>
                            <!-- Preview Image -->
                            <a class="col-md-6" href="{{ path('show_article', {'id': planetArticles[i].id}) }}">
                                <img class="img-responsive" src="{{ planetArticles[i].urlToImage }}" alt="">
                            </a>
                            <p class="col-md-6">
                                {{ planetArticles[i].description|slice(0, 300) }}...
                            </p>
                        </div>

                        <hr>
                    {% endif %}
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    {# if news page number is not 1 then display button to newer planet articles #}
                    {% if pageNumber != 1  %}
                        <li class="previous">
                            <a href="{{ path('planet_articles', {'planet': planet, 'number': pageNumber+1}) }}">&larr; Newer Articles</a>
                        </li>
                    {% endif %}
                    {# if there are more articles comparing current page then display button to older planet articles #}
                    {% if articles[pageNumber*10] is defined  %}
                        <li class="next">
                            <a href="{{ path('planet_articles', {'planet': planet, 'number': pageNumber-1}) }}">Older Articles &rarr;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy;SkyAboveUs</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
