{% extends 'picture/base_picture.html.twig' %}

{% block body %}

    <div class="container feature-page">

        <div class="row">

            <div class="col-lg-12">
                <!-- Title -->
                <h2 id="picture">{{ pictures[picture].title }}</h2>

                <!-- Date -->
                <h4 id="picture">{{ pictures[picture].getDateInString }}</h4>
            </div>

            <!-- Blog Post Content Column -->
            <div class="col-lg-6">

                <!-- Preview Image -->
                <img class="img-responsive" src="{{ pictures[picture].url }}" alt="">

                <br>

                <hr>

            </div>

            <div class="col-lg-6">
                <!-- Post Content -->
                <p>{{ pictures[picture].explanation }}</p>
            </div>

            <div class="col-lg-12">
                <!-- All astronomy pictures of the day -->
                <div class="all-apod">
                    <a class="all-apod-button" href="{{ path('astronomy_pictures') }}">
                        All astronomy pictures
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy;Sky Above Us</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
{% endblock %}

