<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sky above us{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')  }}" rel="stylesheet" >
        <link href="{{ asset('css/creative.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('css/news.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Corben" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
</head>

{% block body %}
    <body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SKY ABOVE US</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('news_list', {number: 1}) }}">NEWS</a>
                    </li>
                    <li>
                        <a href="{{ path('astronomy_picture', {picture: 0}) }}">APOD</a>
                    </li>
                    <li>
                        <a href="{{ path('viewing_all_videos', {currentPage: 1}) }}">VIDEOS</a>
                    </li>
                    <li>
                        <a href="{{ path('space_station') }}">ISS</a>
                    </li>
                    <li>
                        <a href={{ path('view_all_planets') }}>PLANETS</a>
                    </li>
                    <li>
                        <a href={{ path('view_events') }}>EVENTS</a>
                    </li>
                    <li>
                        <a href="{{ path('show_subscribe_form') }}">SUBSCRIBE</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="welcome">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="home-header">Sky above us</h1>
            </div>
            <div class="btn-space">
                <h1>Astronomy for everyone!</h1>
            </div>
        </div>
    </header>
    <!-- whats new block -->
    <div id="news" class="container-fluid" style="padding:0px;">
        <div class="col-md-12 home-news">
            <div class="col-md-6 home-news">
                <h3 id="home-news">News</h3>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ news[0].urlToImage }}">
                            <div class="carousel-caption">
                                <h4><a href="{{ path('show_article', {'id': news[0].id}) }}">{{news[0].title }}</a></h4>
                                <p>{{ news[0].description |slice(0, 250) }}... </br><a class="label label-primary" href="{{ path('show_article', {'id': news[0].id}) }}" target="_blank">More information</a></p>
                            </div>
                        </div>
                        <!-- End Item -->

                        {% for i in 1..5 %}
                        <div class="item">
                            <img src="{{ news[i].urlToImage }}">
                            <div class="carousel-caption">
                                <h4><a href="{{ path('show_article', {'id': news[i].id}) }}">{{news[i].title }}</a></h4>
                                <p>{{ news[i].description | slice(0, 250) }}... </br><a class="label label-primary" href="{{ path('show_article', {'id': news[i].id}) }}" target="_blank">More information</a></p>
                            </div>
                        </div>
                            <!-- End Item -->
                        {% endfor %}

                    </div>
                    <ul class="list-group col-sm-4">
                        <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h5>{{ news[0].title }}</h5></li>
                        {% for i in 1..5 %}
                            <li data-target="#myCarousel" data-slide-to="{{ i }}" class="list-group-item"><h5>{{news[i].title }}</h5></li>
                        {% endfor %}

                    </ul>

                    <!-- Controls -->
                    <div class="carousel-controls">
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="button" style=" margin: 50px;">
                        <a href="{{ path('news_list', {'number': 1}) }}">More news</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 whats-new event">
                    <h4 class="event-title">
                        {% if closestEvent is not null %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                        Closest astronomical event:
                        <p>{{ closestEvent.title }}</p>
                    </h4>
                    <div class="closestEvent">
                        <p>{{ closestEvent.date }}</p>
                        <p>{{ closestEvent.description }}</p>
                    </div>
                    {% else %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                        Closest astronomical event
                    <h4>There isn't any know astronomical event at this time...</h4>
                    {% endif %}
                </div>
                <div class="col-md-12 whats-new live container">
                    <div class="video col-md-12">
                        <iframe class="col-md-6" src="https://www.youtube.com/embed/qzMQza8xZCc" frameborder="0" allowfullscreen></iframe>
                            <p class="col-md-6">The International Space Station - ISS - circles the earth at 240 miles above the planet.
                                The station is crewed by NASA astronauts as well as Russian Cosmonauts and a mixture of Japanese,
                                Canadian and European astronauts as well.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="button" style="width:220px;">
                            <a href="{{ path('viewing_all_videos', { currentPage:1 }) }}">More videos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- whats new endblock -->
    <div class="container col-md-12" id="planets">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our solar system</h2>
            </div>
        </div>
    </div>

    <section class="no-padding" >
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for planet in planets %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ path('show_planet', {'planetName': planet.name}) }}" class="portfolio-box">
                            <img src="{{ asset( planet.image ) }}" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ planet.namedAs }}
                                    </div>
                                    <div class="project-name">
                                        {{ planet.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>If you have any questions or feedback please email us!</p>
                </div>
                <div class="col-lg-12 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:{{ email }}">SkyAboveUs</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">&copy; 2016 SkyAboveUs.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ asset('js/creative.min.js') }}"></script>
    <script src="{{ asset('js/carousel.js') }}"></script>

    </body>
{% endblock %}
