{% extends 'base.html.twig' %}

{% block body %}
    <body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SKY ABOVE US</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#news">NEWS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">FEATURES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#planets">PLANETS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacts">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="home-header">Sky above us</h1>
            </div>


            <div class="btn-space">
                <h2>Astronomy for everyone!</h2>
                <a href="#news" class="btn btn-primary btn-xl page-scroll">Explore the universe with us!</a>
            </div>
        </div>


    </header>

    <div class="container">
        <hr class="primary">
    </div>

    <!-- show first article from news list -->
    <section class="bg-primary" id="news">
        <div class="container-fluid">
            <a href="{{ path('show_article', {'articleID': news[0].id}) }}" class="portfolio-box">
                <img src="{{ news[0].urlToImage }}" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            {{ news[0].title }}
                        </div>
                        <div class="project-name">
                            {{ news[0].description }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container" id="container_services">
            <div class="row" >
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('upcoming_events') }}">
                            <i class="fa fa-4x fa-adjust text-primary sr-icons"></i>
                        </a>
                        <h3>Upcoming astronomical events</h3>
                        <p class="text-muted">Be aware of the eclipses, meteor showers, meteor falls, solstice and much more!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('astronomical_videos') }}">
                            <i class="fa fa-4x fa-youtube-play text-primary sr-icons"></i>
                        </a>
                        <h3>Astronomical videos</h3>
                        <p class="text-muted">To expand your knowledge watch various videos about the universe!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('astronomical_articles') }}">
                            <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        </a>
                        <h3>Interesting articles</h3>
                        <p class="text-muted">Find astronomical articles that you haven't read before!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('astronomy_picture') }}">
                            <i class="fa fa-4x fa-picture-o text-primary sr-icons"></i>
                        </a>
                        <h3>Astronomy picture of the day</h3>
                        <p class="text-muted">See a new high quality picture along with a brief explanation of that!</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('solar_system_display') }}">
                            <i class="fa fa-4x fa-sun-o text-primary sr-icons"></i>
                        </a>
                        <h3>Solar system display</h3>
                        <p class="text-muted">See the general view of our solar system displayed dynamically!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('constellation_display') }}">
                            <i class="fa fa-4x fa-star text-primary sr-icons"></i>
                        </a>
                        <h3>Constellation display</h3>
                        <p class="text-muted">See how constellations look in the sky or how they will look after some time!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('constellation_position_calculator') }}">
                            <i class="fa fa-4x fa-calculator text-primary sr-icons"></i>
                        </a>
                        <h3>Constellation position calculator</h3>
                        <p class="text-muted">Find out when the certain constellation will appear in the sky above you!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="{{ path('planet_position_calculator') }}">
                            <i class="fa fa-4x fa-calculator text-primary sr-icons"></i>
                        </a>
                        <h3>Planet position calculator</h3>
                        <p class="text-muted">Find out when the certain planet will appear in the sky above certain place!</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container" id="planets">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our solar system</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <section class="no-padding" >
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for planet in planets %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ path('show_planet', {'planetName': planet.name}) }}" class="portfolio-box">
                            <img src="{{ planet.image }}" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ planet.namedAs }}
                                    </div>
                                    <div class="project-name">
                                        {{ planet.name }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>If you have any questions or feedback please call us or email us!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>864643465</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:ICanSee@YouNaked.com">emailEmail@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ asset('js/creative.min.js') }}"></script>

    </body>
{% endblock %}
