{% extends 'services/base_service.html.twig' %}

{% block head %}
{{ parent() }}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/night-sky.css') }}" rel="stylesheet">
{% endblock %}
{% endblock %}

{% block body %}

<div class="container feature-page">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <h3>Solar System object appearance in the sky:</h3>
<div>
    <div class="cityname">Vilnius</div>
    {% if planets is empty %}
        {{ 'Data is not available right now. Try again later. Sorry for the inconvenience.' }}
    {% endif %}
<table class="schedule_table" align="center">
    <tr>
        <th>Planet</th>
        <th>Rise</th>
        <th>Set</th>
    </tr>
{% for planet in planets %}
    <tr>
        <td>{{ planet.getObject() }}</td>
        <td>{{ planet.getRise() }}</td>
        <td>{{ planet.getFall() }}</td>
    </tr>
{% endfor %}
</table>
</div>
        </div>

        </div>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p class="copyright text-muted">&copy; 2016 SkyAboveUs.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}
