{% extends 'videos/base_videos.html.twig' %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All
                    <small>Videos</small>
                </h1>
            </div>
        </div>

        <!-- /.row -->

        <div class="container feature-page">
            <div class="row">
        <div class="col-lg-12">
            {% for video in videos %}
                <div class="col-md-4 portfolio-item video-wrap" style="min-height: 400px;">
                    <div style="width:240px; heigth:auto; margin: 27px 0px;" class="youtube-player">
                        <img style="width:320px; height: 155px;" data-id={{ video.path }}  class="youtube-image" src="{{ video.image | raw }}" />
                    </div>
                    <h4>
                        {{ video.title }}
                    </h4>
                    <p> {{ video.description }} </p>
                </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
        <ul class="pagination">
            {% if maxPages > 1 %}
            <li {{ currentPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('viewing_all_videos', {currentPage: currentPage-1 < 1 ? 1 : currentPage-1}) }}">&laquo</a>
            </li>
            {% for i in 1..maxPages %}
                <li {{ currentPage == i ? 'class="active"' }}>
                    <a href="{{ path('viewing_all_videos', {currentPage: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li {{ currentPage == maxPages ? 'class="disabled"' }}>
                <a href="{{ path('viewing_all_videos', {currentPage: currentPage+1 <= maxPages ? currentPage+1 : currentPage}) }}">&raquo;</a>
            </li>
        </ul>
        {% endif %}
                </div>
            </div>
                </div>
            </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sky Above Us</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <script src="{{ asset('js/youtube-video-min.js') }}"></script>
{% endblock %}
