{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ currentChannel }}
                    <small>channel</small>
                </h1>
            </div>
        </div>

        <!-- /.row -->

        <div class="container feature-page">
            <div class="row">
                <div class="col-lg-8">
                    {% for video in videos %}
                        <div class="col-md-6 portfolio-item" style="min-height: 350px;">
                            <div style="width:240px; heigth:auto; margin: 27px 0px;" class="youtube-player" data-id={{ video.path }}>
                            <img  class="youtube-image" src="{{ video.image }}" />
                            </div>
                                <h5>
                                {{ video.title }}
                            </h5>
                            <p> {{ video.description }} </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="well videoSideSearch">
                        <h4>Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        </div>
                        <!-- /.input-group -->
                    </div>
                    <div class="well">
                        <h4>Find video by channel</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    {% for channel in channels %}
                                    <li><a href="{{ path('viewing_all_channel_videos', {currentPage: 1, channelName: channel.channelName}) }}" class="portfolio-box">{{ channel.channelName }}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h4>Find video by planet</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    {% for planetlist in planetsList %}
                                    <li><a href="{{ path('view_videos_by_name', {planetName: planetlist.name, currentPage:1}) }}" class="portfolio-box">{{ planetlist.name }}</a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            {% if maxPages > 1 %}
                            <li {{ currentPage == 1 ? 'class="disabled"' }}>
                                <a href="{{ path('viewing_all_channel_videos', {currentPage: currentPage-1 < 1 ? 1 : currentPage-1, channelName: currentChannel}) }}">&laquo</a>
                            </li>
                            {% for i in 1..maxPages %}
                                <li {{ currentPage == i ? 'class="active"' }}>
                                    <a href="{{ path('viewing_all_channel_videos', {currentPage: i, channelName: currentChannel}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            <li {{ currentPage == maxPages ? 'class="disabled"' }}>
                                <a href="{{ path('viewing_all_channel_videos', {currentPage: currentPage+1 <= maxPages ? currentPage+1 : currentPage, channelName: currentChannel}) }}">&laquo</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sky Above Us</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <script src="{{ asset('js/youtube-video-min.js') }}"></script>
{% endblock %}
